main{
  padding-top: 150px;
  .container{
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
    li{
      color: rgba(0, 0, 0, 0.8);
      font-size: 14px;
      margin: 10px 0;
      padding-top: 20px;
    }
    ol{
      padding-left: 17px;
      li{
        ol{
          padding-left: 35px;
        }
      }
    }
  }
}